<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Profile</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li>
                    <a href="about.html">About Us</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="how-it-works.html">How it Works</a>
                </li>
            </ul>
            <nav class="blue darken-2">
                <div class="nav-wrapper">
                    <div class="">
                        <a href="index.html" class="brand-logo">WEconnect</a>
                        <a href="#" data-activates="mobile-menu" class="button-collapse">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="userProfile.html">Home</a>
                            </li>
                            <li>
                                <a href="registerBusiness.html">Register Business</a>
                            </li>
                            <li>
                                <a class='dropdown-button btn transparent' href='#' data-activates='dropdown1'>
                                    <i class="material-icons right">arrow_drop_down</i>Company</a>
                            </li>
                            <li>
                                <a href="businessesListing.html">Business Listing</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    Logout
                                </a>
                            </li>
                        </ul>

                        <ul class="side-nav" id="mobile-menu">
                            <li>
                                <div class="userView">
                                    <div class="background blue darken-2">
                                        <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                                    </div>
                                    <a href="#!user">
                                        <img class="circle" src="http://lorempixel.com/output/people-q-c-640-480-9.jpg" alt="User Image Sidenav">
                                    </a>
                                    <a href="#!name">
                                        <span class="white-text name">John Doe</span>
                                    </a>
                                    <a href="#!email">
                                        <span class="white-text email">jdandturk@gmail.com</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="userProfile.html">Home</a>
                            </li>
                            <li>
                                <a href="registerBusiness.html">Register Business</a>
                            </li>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="how-it-works.html">How it Works</a>
                            </li>
                            <li>
                                <a href="businessesListing.html">Business Listing</a>
                            </li>
                            <li>
                                <a href="index.html">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- Your content here -->
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 l8 offset-l2">
                    <div class="card">
                        <div class="card-action blue darken-2 white-text center">
                            <h3>Business Profile</h3>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <ul id="businessProfile" class="tabs">
                                    <li class="tab tabs-fixed-width col s3 m3 l3">
                                        <a class="active" href="#businessInfo">
                                            <span class="truncate center blue darken-2-text text-lighten-1">Information</span>
                                        </a>
                                    </li>
                                    <li class="tab tabs-fixed-width col s3 m3 l3">
                                        <a href="#businessReviews">
                                            <span class="truncate center blue darken-2-text text-lighten-1">Review</span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="businessInfo" class="col s12 m12 l12 ">
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">business_center</i>
                                            <span class="title">
                                                <h5>Business Name</h5>
                                            </span>
                                            <p>
                                                <strong>Clash of Clans</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">email</i>
                                            <span class="title">
                                                <h5>Contact Email</h5>
                                            </span>
                                            <p>
                                                <strong>daramola.ajiboye@live.com</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">phone</i>
                                            <span class="title">
                                                <h5>Telephone Number</h5>
                                            </span>
                                            <p>
                                                <strong> 07011031609</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">phone</i>
                                            <span class="title">
                                                <h5>Office Phone</h5>
                                            </span>
                                            <p>
                                                <strong>07011031608</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">business</i>
                                            <span class="title">
                                                <h5>Business Category</h5>
                                            </span>
                                            <p>
                                                <strong>Gaming</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">location_on</i>
                                            <span class="title">
                                                <h5>Location</h5>
                                            </span>
                                            <p>
                                                <strong>Lagos</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">directions</i>
                                            <span class="title">
                                                <h5>Business Address</h5>
                                            </span>
                                            <p>
                                                <strong>235,Ikorodu Road, Epic Tower</strong>
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">business_center</i>
                                            <span class="title">
                                                <h5>Business Description</h5>
                                            </span>
                                            <p>
                                                Mobile Game for Collaboration and Competition
                                            </p>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue darken-2">business_center</i>
                                            <span class="title">
                                                <h5>Business Owner</h5>
                                            </span>
                                            <p>
                                                <a href="userProfile.html" class="waves-effect waves-light btn blue darken-2">Ajiboye Daramola</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div id="businessReviews" class="col s12 m12 l12">
                                    <div class="card">
                                        <div class="card-content">
                                            <form action="">
                                                <div class="row">
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">account_circle</i>
                                                        <label for="Username">Username</label>
                                                        <input type="text" id="userName" value="Ajiboye Daramola" disabled>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">feedback</i>
                                                        <textarea class="materialize-textarea" id="business_feedback"> </textarea>
                                                        <label for="business_feedback">Give Feedback about Business</label>
                                                    </div>
                                                </div>
                                                <div class="form-field">
                                                    <button type="submit" class="btn-large waves-effect waves-dark blue darken-2" style="width:100%;">POST REVIEW</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div>
                                                <h5>
                                                    <span class="blue darken-2-text text-lighten-1">Previous Reviews</span>
                                                </h5>
                                            </div>
                                            <div>
                                                <ul>
                                                    <li>
                                                        <i class="material-icons prefix">account_circle</i>
                                                        <a href="userProfile.html">
                                                            <span>Ajiboye Damilola</span>
                                                        </a>
                                                        <p>This business is awesome you guys should try it out you wont be dissapointed</p>
                                                        <hr>
                                                    </li>
                                                    <li>
                                                        <i class="material-icons prefix">account_circle</i>
                                                        <a href="userProfile.html">
                                                            <span>Ajiboye Daramola</span>
                                                        </a>
                                                        <p>This business is bad skip it or you would be disappointed</p>
                                                        <hr>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="page-footer blue darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2018 WEconnect
                <a class="grey-text text-lighten-4 right" href="#!">Subscribe to Our Newsletters</a>
            </div>
        </div>
    </footer>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $("document").ready(function () {
            $(".button-collapse").sideNav();
            $('ul.tabs').tabs();
            $('#business_feedback').val();
            $('#business_feedback').trigger('autoresize');
        });
    </script>
</body>

</html>