<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEconnect Application</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <nav class="blue darken-2">
                <div class="nav-wrapper">
                    <div class="">
                        <a href="index.html" class="brand-logo">WEconnect</a>
                        <a href="#" data-activates="mobile-menu" class="button-collapse">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="how-it-works.html">How it Works</a>
                            </li>
                            <li>
                                <a href="login.html">
                                    Sign In
                                </a>
                            </li>
                            <li>
                                <a href="signUp.html">
                                    Sign Up
                                </a>
                            </li>
                        </ul>

                        <ul class="side-nav" id="mobile-menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="how-it-works.html">How it Works</a>
                            </li>
                            <li>
                                <a href="signUp.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="login.html">Login</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img class="responsive-img" src="images/growing-business.jpg">
                    <!-- random image -->
                </li>
                <li>
                    <img class="responsive-img" style="width:100%vw;" src="images/business.jpeg">
                    <!-- random image -->
                    <div class="caption left-align">
                        <h5 class="text-align-left blue darken-2-text">Connect your business with our various users</h5>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <!-- Your content here -->
        <div class="container">
            <div class="row">
                <div class="col s12 m4 l4">
                    <!-- Your content here -->
                    <div class="card blue darken-2">
                        <div class="card-content white-text">
                            <span class="card-title">GETTING STARTED</span>
                            <p>
                                To get started sign up to start creating and interacting with businesses or if you already have
                                an account login to create and find businesses
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="signUp.html">Sign Up</a>
                            <a href="login.html">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <!-- Your content here -->
                    <div class="card blue darken-2">
                        <div class="card-content white-text">
                            <span class="card-title">ABOUT WECONNECT</span>
                            <p>
                                WeConnect provides a platform that brings businesses and individuals together. This platform
                                creates awareness for businesses and gives the users the ability to write reviews about the
                                businesses they have interacted with.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="about.html">About WEconnect</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <!-- Your content here -->
                    <div class="card blue darken-2">
                        <div class="card-content white-text">
                            <span class="card-title">CONTACT US</span>
                            <p>
                                Enquires or Suggestions? Contact Us by filling the form in the contact us form in the link below
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2018 WEconnect
                <a class="grey-text text-lighten-4 right" href="#!">Subscribe to Our Newsletters</a>
            </div>
        </div>
    </footer>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $("document").ready(function () {
            $(".button-collapse").sideNav();
            $('.carousel.carousel-slider').carousel({
                fullWidth: true
            });
            $('.slider').slider();
        });
    </script>
</body>

</html>