$break-small: 320px;
$break-medium: 680px;
$break-large: 1200px;

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.brand-logo {
    margin-left: 10px;
}

.home-card {
    height: 310px;
    overflow: auto;
}
.timestamp {
    float: right;
    color: rgba(34,34,34,0.5);
}
.indicator {
    background-color: #42A5F5 !important
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #42A5F5 !important
}

li>a.active {
    color: #42A5F5 !important
}

li.tab>a {
    color: #42A5F5 !important
}

li.active {
    background-color: #42A5F5 !important
}
.adSearch {
    margin-left: 100px
}
.radio-btn {
    margin-top: 15px
}
.loginForm {
    margin-top: 50px
}
.confirmDelete, .replyReview {
    margin-right: 15px
}
.home-card .card-content p {
    height: 154px
}
.business {
    display: inline-block;
    margin-right: 15px;
}
.card.medium {
    height: 400px;
    width: 300px;
}
.card-image img {
    height: 300px;
}
.reviewerId {
    margin-left: 15px
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 9999;
  }
  .imgPreview {
    text-align: center;
    margin-left: 5px;
    margin-top: 15px;
    height: 300px;
    @media (min-width: 1200px) { 
        width: 500px;
     }
/* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
        width: 300px; 
    }

/* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
        width: 250px; 
    }

/* Landscape phones and down */
    @media (max-width: 480px) { 
        margin-left: 0px;
        width: 250px;
    }
    @media (max-width: 320px) { 
        margin-left: 0px;
        width: 250px;
    }
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
  }
  .preview {
      height: 300px;
      @media (max-width: 360px) { 
        width: 250px;
    }
      width: 300px
  }
// ul.pagination {
//     margin-left: 300px;
// }